
{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}
{% block container %}
<h1>{{object.name}}</h1>
<img src="{{object.image.url}}" class="img-fluid" alt="..." width="500px">
<p><b>Цвет: </b>{{object.color.name }}</p>
<p><b>Форма: </b><i>{{ object.body.name }}</i></p>
<p><b>Ароматизатор: </b>
    {% for v in object.flavoring.all %}
    <i>{{ v.name }},</i>
    {% endfor %}
</p>
<a><b>Описание: </b>{{ object.card.name }}</a>

{% endblock %}