{% extends "base.html" %}
{% block title %}
Регистрация
{% endblock %}
{% block container %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Имя пользователя:</label>
        <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
    </div>
    <div class="mb-3">
        <label for="id_password" class="form-label">Пароль:</label>
        <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">
    </div>
    <button class="btn btn-primary" type="submit">Зарегистрироватся</button>
</form>
{% endblock %}