{% extends "base.html" %}
{% block title %}
Регистрация
{% endblock %}
{% block container %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label for="id_username" class="form-label">Имя пользователя:</label>
        <input type="text" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username">
        <span class="helptext">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.
        </span>
    </p>
    <p>
        <label for="id_email" class="form-label">Email:</label>
        <input type="email" class="form-control" name="email" maxlength="254" required="" id="id_email">
    </p>
    <p>
        <label for="id_password1" class="form-label">Пароль:</label>
        <input type="password" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1">
        <span class="helptext"></span>
    </p>
    <p>
        <ul>
            <li>
                Пароль не должен быть слишком похож на другую вашу личную информацию.
            </li>
            <li>
                Ваш пароль должен содержать как минимум 8 символов.
            </li>
            <li>
                Такой пароль часто используется.
            </li>
            <li>
                Пароль не может состоять только из цифр.
            </li>
        </ul>
    </p>
    <p>
        <label for="id_password2" class="form-label">Подтверждение пароля:</label>
        <input type="password" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2">
        <span class="helptext">Для подтверждения введите, пожалуйста, пароль ещё раз.</span>

    </p>
    <button class="btn btn-primary" type="submit">Зарегистрироватся</button>
</form>

{% endblock %}