{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet">
</head>
<body>
<div class="container" style="background-color: #ffecda;">
    <nav  class="navbar navbar-expand-lg navbar-light" style="background-color: #d4a5a5;">
        <div class="container-fluid bg-gradient" >
            <a class="navbar-brand" href="/">Candle Agent</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">О нас</a>
                    </li>
                    <li class="nav-link">{{ contact_info }}</li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Добро пожаловать {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Выход</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register/">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Вход</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block container %}
    {% endblock %}
    {{ about_ass }}
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>